<div class="hero">
<br />
  <div class="frosty col-xs-6 col-xs-offset-3 text-center">
  <br />
    <h1>Learn Anything</h1>
    <br />
    <h2>Because Life's Too Short</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />

  
    <div class="whitey col-xs-12 features text-center">
        <h1><%= link_to 'Featured Courses', courses_path %></h1>
          <br />
      <div class="bros col-xs-6 col-sm-6">  
         <h3> Learn Vietnamese</h3>
         <%= image_tag 'vietnam.jpg', class: 'img-responsive' %>
      </div>


    <div class="bros col-xs-6 col-sm-6">
      <h3>How to Build a Blog in Ruby</h3>
     <%= image_tag 'hero.jpg', class: 'img-responsive' %>
    </div>
 </div>




